<h1><%= @schedule.student %>'s schedule</h1>

<% @courses.each do |course| %>
  <h2><%= course.name %></h2>
  <p><strong>Professor: </strong><%= course.professor %></p>
  <p><strong>Credits: </strong><%= course.credits %></p>
  <br>
  <form action="/schedule/<%= course.slug %>" method="POST">
    <input type="hidden" name="_method" value="PATCH">
    <input type="submit" value="Drop course">
  </form>
<% end %>
<br>
<p><strong>Total credits: </strong><%= @schedule.total_credits %></p>

