<h1><%= @course.name %></h1>

<p><strong>Professor: </strong><%= @course.professor %></p>
<p><strong>Credits: </strong><%= @course.credits %></p>
<br>
<br>

<a href="/courses/<%= @course.slug %>/edit">Edit course</a>
<br>
<br>
<p>Total credits:<%= @schedule.total_credits %></p>
<form action="/schedule/<%= @course.slug %>" method="POST">
  <input type="hidden" name="_method" value="PATCH">
  <% if @schedule.total_credits + @course.credits > 15 %>
    <input type=submit value="Credit limit: 15" disabled>
  <% else %>
    <input type="submit" value="Add to schedule">
  <% end %>
</form>